<!DOCTYPE html>
<html lang="es">

<head>
  <% include ../world/header/links %>
</head>

<body>

  <% include ../world/header/header %>

  <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_3.jpg); padding: 10px !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
          <h2 class="mb-0">Contabilidad</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt">
    <div class="container">
      <div class="row tabulation mt-4 ftco-animate">
        <div class="col-md-12">
          <div class="tab-content"></div>
          <ul class="nav nav-pills nav-fill d-md-flex d-block">
            <li class="col-md-5">
              <p style="text-align: justify;">Este servicio consiste en proporcionar asesoría a las compañías y personas
                naturalesorientado al registro, control y supervisión de la contabilidad, basados en la información
                con la que cuenta el contribuyente, en sus soportes contables, atravez de un adecuado
                manejo en el área contable, de forma personalizada.</p><br>
              <p style="text-align: justify;">Todos los procesos son acompañados por profesionales, con amplia 
                experiencia en los servicios de contabilidad, que aúnan esfuerzos con su administración para 
                tener información oportuna para cierres mensuales y anuales con una correcta planificación 
                tributaria.</p>
            </li>
            <li class="col-md-1">                       
            </li>
            <li class="col-md-6" style="background-color:lightyellow">
              <b style="text-align: justify;">En los procesos que realizamos se encuentran los siguientes:</b><br>
              <b style="color: #769786;">• Elaboración de Estados Financieros:</b><br>
              <b style="color: #769786;">a)  Balance General.</b><br>
              <b style="color: #769786;">b)  Estado de Resultados.</b><br>
              <b style="color: #769786;">c)  Flujo de Efectivo.</b><br>
              <b style="color: #769786;">d)  Estado de Cambio en el Patrimonio.</b><br>
              <b style="color: #769786;">e)  Estado de Cambio en la Situación Financiera.</b><br>
              <b style="color: #769786;">• Elaboración de reportes a entidades de control.</b><br>
              <b style="color: #769786;">• Elaboración de declaraciones tributarias Municipales.</b><br>
              <b style="color: #769786;">• Liquidación y registro de importaciones.</b><br>
              <b style="color: #769786;">• Conversión de Estados Financieros a Normas internacionales NIIF.</b><br>
              <b style="color: #769786;">• Conciliaciones bancarias.</b><br>
              <b style="color: #769786;">• Análisis de cuentas de Balance.</b><br>
              <b style="color: #769786;">• Reportes a socios.</b><br>
              <b style="color: #769786;">• Contabilidad Electrónica.</b><br>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_1.jpg); padding: 10px !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-justify heading-section heading-section-white ftco-animate">
          <h2 class="mb-0" style="font-size: 23px;">¿Por qué elegirnos?</h2><br>
            <h2 class="mb-0" style="font-size: 20px;">Nosotros somos sus aliados a la hora de organizar, analizar y proyectar
              tus estados financieros para un mejor control de tu información contable.</h2>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section testimony-section" style="padding: 0px !important; margin: 0px !important; padding-top: 70px !important;">
    <div class="container-fluid px-md-5">
      <div class="row ftco-animate justify-content-center fadeInUp ftco-animated">
        <div class="col-md-12">
          <div class="container">
            <div class="row block-9 justify-content-center mb-5">
              <div class="col-md-10 mb-md-5">
                <h2>Consulta sobre este servicio.</h2>
                <form action="#" class="border p-5 contact-form">
                  <div class="row">           
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre Completo">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Correo Electrónico">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Teléfono/Celular">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="Escriba su mensaje"></textarea>
                      </div>
                    </div>      
                    <div class="col-md-12">
                      <br>
                      <div class="form-group">
                        <input type="submit" value="Contactar" class="btn btn-primary py-3 px-5">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section testimony-section" style="padding: 0px !important; margin: 0px !important;">
    <div class="container-fluid px-md-5">
      <a name="contacto"></a>
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center heading-section ftco-animate">
          <h2 class="mb-4">Contacto</h2>
        </div>
      </div>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">
          <div class="container">
            <div class="row d-flex mb-5 contact-info justify-content-center" style="color: black;">
              <div class="col-md-10">
                <div class="row mb-5">
                  <div class="col-md-4 text-center d-flex">
                    <div class="border w-100 p-4">
                      <div class="icon">
                        <span class="icon-map-o" style="font-size: 30px; color: #13683B;"></span>
                      </div>
                      <p><span style="font-size: 18px;"><b>Dirección:</b></span><br>Jorge
                        Washington
                        E4-59 y Amazonas Edif.
                        Rocafuerte, Of. 5, sector C.C.Espiral
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 text-center d-flex">
                    <div class="border w-100 p-4">
                      <div class="icon">
                        <span class="icon-tablet" style="font-size: 30px; color: #13683B"></span>
                      </div>
                      <p><span style="font-size: 18px;"><b>Teléfono:</b></span><br>+593 997607812
                    </div>
                  </div>
                  <div class="col-md-4 text-center d-flex">
                    <div class="border w-100 p-4">
                      <div class="icon">
                        <span class="icon-envelope-o" style="font-size: 30px; color: #13683B"></span>
                      </div>
                      <p><span style="font-size: 18px;"><b>Correo Electrónico:</b></span><br>
                        info@adcontur.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>

        </div>
      </div>
    </div>
  </section>


  <% include ../world/footer/footer %>

  <% include ../world/footer/links %>

  <% include ../world/footer/float %>
</body>

</html>