<!DOCTYPE html>
<html lang="es">

<head>
	<title>Adcontur ACP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="bg-top navbar-light d-flex flex-column-reverse">
		<div class="container py-3">
			<div class="row no-gutters d-flex align-items-center align-items-stretch">
				<div class="col-md-4 d-flex align-items-center py-4">
					<img src="images/logo.png" alt="ADCONTUR" width="250">
				</div>
				<div class="col-lg-8 d-block">
					<div class="row d-flex">
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									class="ion-ios-paper-plane"></span></div>
							<div class="text">
								<span>Correo Electrónico</span>
								<span>info@adcontur.com</span>
							</div>
						</div>
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									class="ion-ios-call"></span></div>
							<div class="text">
								<span>Teléfono</span>
								<span>+593 997607812</span>
							</div>
						</div>
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span
									class="icon icon-map-marker"></span></div>
							<div class="text">
								<span>Dirección</span>
								<span>Jorge Washington E4-59 y Amazonas</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="top-social-menu py-2 bg-light">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="social mb-0">
							<a href="https://facebook.com/Adcontur.ACP" target="_blank"><i
									class="ion-logo-facebook"></i><span class="sr-only">Facebook</span></a>
							<a href="https://twitter.com/adcontur_acp" target="_blank"><i
									class="ion-logo-twitter"></i><span class="sr-only">Twitter</span></a>
							<a href="https://www.instagram.com/adcontur_acp/" target="_blank"><i
									class="ion-logo-instagram"></i><span class="sr-only">Instagram</span></a>
						</p>
					</div>
					<div class="col text-right">

					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container d-flex align-items-center">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menú
			</button>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a href="index.html" class="nav-link">Inicio</a></li>
					<li class="nav-item"><a href="about.html" class="nav-link">Acerca</a></li>
					<li class="nav-item"><a href="team.html" class="nav-link">Servicios</a></li>
					<li class="nav-item"><a href="contact.html" class="nav-link">Contacto</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<section class="home-slider owl-carousel">
		<div class="slider-item" style="background-image:url(images/bg_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end"
					data-scrollax-parent="true">
					<div class="col-md-7 ftco-animate mb-md-5">
						<span class="subheading">Adcontur ACP</span>
						<h1 class="mb-4">Soluciones Contables</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image:url(images/bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end"
					data-scrollax-parent="true">
					<div class="col-md-7 ftco-animate mb-md-5">
						<span class="subheading">Adcontur ACP</span>
						<h1 class="mb-4">Soluciones Tributarias</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image:url(images/image_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end"
					data-scrollax-parent="true">
					<div class="col-md-7 ftco-animate mb-md-5">
						<span class="subheading">Adcontur ACP</span>
						<h1 class="mb-4">Soluciones Administrativas</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-consult">
		<div class="container">
			<div class="row d-flex no-gutters align-items-stretch	consult-wrap">
				<div class="col-md-5 wrap-about align-items-stretch d-flex">
					<div class="ftco-animate bg-primary align-self-stretch px-4 py-5 w-100">
						<h2 class="heading-white mb-4">Consultanos</h2>
						<form action="#" class="appointment-form ftco-animate">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Nombres">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Apellidos">
							</div>
							<div class="form-group">
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon"><span class="ion-ios-arrow-down"></span></div>
										<select name="" id="" class="form-control">
											<option value="" style="background-color: #3c3c3c;">Seleccionar Servicio
											</option>
											<option value="" style="background-color: #3c3c3c;">Contabilidad</option>
											<option value="" style="background-color: #3c3c3c;">Tributación</option>
											<option value="" style="background-color: #3c3c3c;">Laboral</option>
											<option value="" style="background-color: #3c3c3c;">Municipio y otras
												entidades de control</option>
											<option value="" style="background-color: #3c3c3c;">Capacitación</option>
											<option value="" style="background-color: #3c3c3c;">Asesoría</option>
											<option value="" style="background-color: #3c3c3c;">Otros</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Teléfono">
							</div>
							<div class="form-group">
								<textarea name="" id="" cols="30" rows="2" class="form-control"
									placeholder="Descripción"></textarea>
							</div>
							<div class="form-group">
								<input type="submit" value="Enviar Consulta" class="btn btn-secondary py-3 px-4">
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-7 wrap-about ftco-animate align-items-stretch d-flex">
					<div class="bg-white p-5">
						<h3 class="mb-4">Soluciones Disponibles</h3>
						<div class="row">
							<div class="col-lg-6">
								<div class="services">
									<div class="icon mt-2 d-flex align-items-center"><span
											class="flaticon-collaboration"></span></div>
									<div class="text media-body">
										<h3>Soluciones<br>Administrativas</h3>
										<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
									</div>
								</div>
								<div class="services">
									<div class="icon mt-2"><span class="flaticon-search-engine"></span></div>
									<div class="text media-body">
										<h3>Soluciones<br>Tributarias</h3>
										<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services">
									<div class="icon mt-2"><span class="flaticon-insurance"></span></div>
									<div class="text media-body">
										<h3>Soluciones<br>Contables</h3>
										<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_3.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
					<h2 class="mb-0">Confiabilidad y exactitud en nuestros servicios</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-about ftco-no-pt ftco-no-pb ftco-counter" id="section-counter">
		<div class="container consult-wrap">
			<div class="row d-flex align-items-stretch">
				<div class="col-md-6 wrap-about align-items-stretch d-flex">
					<div class="img" style="background-image: url(images/about.jpg);"></div>
				</div>
				<div class="col-md-6 wrap-about ftco-animate py-md-5 pl-md-5">
					<div class="heading-section mb-4">
						<h2>ADCONTUR ACP</h2>
					</div>
					<p style="text-align: justify;">
						Adcontur Soluciones Contables, Tributarias y Administrativas.- Somos una empresa orgullosamente
						ecuatoriana pioneros en brindar soluciones Contables, Tributarias y Administrativas, contamos
						con más de 25 años de presencia en el mercado nacional; nuestra experiencia especializada y
						comprobada en el asesoramiento de importantes empresas del mercado capitalino, nos permite
						proporcionar a nuestros clientes alternativas de solución adecuadas y consistentes para
						enfrentar los retos competitivos que plantea la administración moderna.
						Contamos con un equipo consolidado de profesionales, con el mas alto estándar y conocimiento en
						empresas e instituciones con diversas actividades económicas.
					</p>
					<div class="tabulation-2 mt-4">
						<ul class="nav nav-pills nav-fill d-md-flex d-block">
							<li class="nav-item">
								<a class="nav-link active py-2" data-toggle="tab" href="#home1"><span
										class="ion-ios-home mr-2"></span> Misión</a>
							</li>
							<li class="nav-item px-lg-2">
								<a class="nav-link py-2" data-toggle="tab" href="#home2"><span
										class="ion-ios-person mr-2"></span> Visión</a>
							</li>
						</ul>
						<div class="tab-content bg-light rounded mt-2">
							<div class="tab-pane container p-0 active" id="home1">
								<p style="text-align: justify;">
									Ofrecer a nuestros clientes servicios profesionales, asegurando el cumplimiento de
									normas y reglamentos preestablecidos en la legislación ecuatoriana en el campo
									Contable,Tributario y Administrativo. Enfocados siempre en la entrega de soluciones
									viables, competitivas e innovadoras. Contamos con el mejor Equipo de Profesionales,
									para
									nosotros cada uno de Nuestros Clientes son importantes, por eso nuestra atención
									personalizada y especializada.
								</p>
							</div>
							<div class="tab-pane container p-0 fade" id="home2">
								<p style="text-align: justify;">
									Ser reconocidos en el mediano plazo por nuestros clientes como un socio estratégico
									para la toma de decisiones a través de: <br><br>

									<b>• Confiabilidad y exactitud en nuestros servicios</b><br>
									<b>• Actualización constante</b><br><br>

									Aplicando estos principios, deseamos establecer relaciones duraderas, de respeto y
									responsabilidad, con nuestros clientes y la sociedad en general.
								</p>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="icon"><span class="flaticon-doctor"></span></div>
								<div class="text">
									<strong class="number" data-number="120">0</strong>
									<span>Clientes</span>
								</div>
							</div>
						</div>
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="icon"><span class="flaticon-doctor"></span></div>
								<div class="text">
									<strong class="number" data-number="115">0</strong>
									<span>Documentos</span>
								</div>
							</div>
						</div>
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="icon"><span class="flaticon-doctor"></span></div>
								<div class="text">
									<strong class="number" data-number="20">0</strong>
									<span>Equipo</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<hr>

	<section class="ftco-section ftco-no-pt">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Servicios</h2>
				</div>
			</div>
			<div class="row tabulation mt-4 ftco-animate">
				<div class="col-md-4">
					<ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
						<li class="nav-item text-left">
							<a class="nav-link active py-4" data-toggle="tab" href="#services-1"><span
									class="flaticon-insurance mr-2"></span> Contabilidad</a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4" data-toggle="tab" href="#services-2"><span
									class="flaticon-search-engine mr-2"></span> Tributación</a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4" data-toggle="tab" href="#services-3"><span
									class="flaticon-analysis mr-2"></span> Laboral</a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4" data-toggle="tab" href="#services-4"><span
									class="flaticon-money mr-2"></span> Municipio y otras entidades de control</a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4" data-toggle="tab" href="#services-5"><span
									class="flaticon-rating mr-2"></span> Capacitación</a>
						</li>
						<li class="nav-item text-left">
							<a class="nav-link py-4" data-toggle="tab" href="#services-6"><span
									class="flaticon-business mr-2"></span> Asesoría</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8">
					<div class="tab-content">
						<div class="tab-pane container p-0 active" id="services-1">
							<div class="img" style="background-image: url(images/project-2.jpg);"></div>
							<h3><a>Contabilidad</a></h3>
							<p>
								<ul>
									<li>Contabilidad personas naturales y jurídicas</li>
									<li>Procesos de Implementación del Sistema Contable</li>
									<li>Outsourcing Contable</li>
									<li>Elaboración de Estados Financieros</li>
									<li>Revisión y Depuración de información para los procesos contables</li>
									<li>Implementación de Software contable de acuerdo a la necesidad</li>
									<li>Sistema de facturación electrónica</li>
									<li>Supervisión y Asesoría</li>
								</ul>
							</p>
						</div>
						<div class="tab-pane container p-0 fade" id="services-2">
							<div class="img" style="background-image: url(images/project-3.jpg);"></div>
							<h3><a>Tributación</a></h3>
							<p>
								<ul>
									<li>Diagnóstico Tributario</li>
									<li>Planificación tributaria</li>
									<li>Auditorias tributarias preventivas</li>
									<li>Fiscalizadores de impuestos mensuales, 104, 103, ATS</li>
									<li>
										Devoluciones de Impuestos Fiscales (Iva; Renta) y su respectivo trámite ante el
										servicio de Rentas Internas
									</li>
									<li>Declaración Patrimonial</li>
									<li>Proyección de impuesto a la Renta</li>
									<li>Asesoría Tributaria permanente</li>
								</ul>
							</p>
						</div>
						<div class="tab-pane container p-0 fade" id="services-3">
							<div class="img" style="background-image: url(images/project-4.jpg);"></div>
							<h3><a>Laboral</a></h3>
							<p>
								<ul>
									<li>Manejo de Nomina, roles de pago individuales</li>
									<li>Manejo página IESS</li>
									<li>Manejo página Ministerio de Relaciones Laborales</li>
								</ul>
							</p>
						</div>
						<div class="tab-pane container p-0 fade" id="services-4">
							<div class="img" style="background-image: url(images/project-5.jpg);"></div>
							<h3><a>Municipio y otras entidades de control</a></h3>
							<p>
								<ul>
									<li>Tramites permisos de funcionamiento L.U.A.E.</li>
									<li>Declaración de patentes, 1.5 x mil</li>
								</ul>
							</p>
						</div>
						<div class="tab-pane container p-0 fade" id="services-5">
							<div class="img" style="background-image: url(images/project-6.jpg);"></div>
							<h3><a>Capacitación</a></h3>
							<p>
								<ul>
									<li>Capacitación localizada</li>
									<li>Cursos de: Aprendiendo tributación en sus diferentes etapas</li>
									<li>Cursos de: Devolución de impuestos</li>
									<li>Curso de Manejo de Balances, y sus respectivos ajustes</li>
								</ul>
							</p>
						</div>
						<div class="tab-pane container p-0 fade" id="services-6">
							<div class="img" style="background-image: url(images/project-1.jpg);"></div>
							<h3><a>Asesoría</a></h3>
							<p>
								<ul>
									<li>Creación y organización de empresas</li>
									<li>Acompañamiento facturación electrónica, sistemas</li>
									<li>Servicios, Informes Actuariales, con el personal calificado en el área</li>
									<li>Servicio, de Revaluación de Activos fijos con Peritos calificados por la
										Superintendencia de Compañías</li>
									<li>Auditorías externas, de acuerdo a requerimientos de la Superintendencia de
										compañías, por total de Activos y Empresas de interés público</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_1.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
					<h2 class="mb-0">Siempre obtienes la mejor orientación</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section">
		<div class="container-fluid px-md-5">
			<div class="row justify-content-center mb-5">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4">Contacto</h2>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12">

					<div class="container">
						<div class="row d-flex mb-5 contact-info justify-content-center" style="color: black;">
							<div class="col-md-10">
								<div class="row mb-5">
									<div class="col-md-4 text-center d-flex">
										<div class="border w-100 p-4">
											<div class="icon">
												<span class="icon-map-o"
													style="font-size: 30px; color: #13683B;"></span>
											</div>
											<p><span style="font-size: 18px;"><b>Dirección:</b></span><br>Jorge
												Washington
												E4-59 y Amazonas Edif.
												Rocafuerte, Of. 5, sector C.C.Espiral
											</p>
										</div>
									</div>
									<div class="col-md-4 text-center d-flex">
										<div class="border w-100 p-4">
											<div class="icon">
												<span class="icon-tablet"
													style="font-size: 30px; color: #13683B"></span>
											</div>
											<p><span style="font-size: 18px;"><b>Teléfono:</b></span><br>+593 997607812
										</div>
									</div>
									<div class="col-md-4 text-center d-flex">
										<div class="border w-100 p-4">
											<div class="icon">
												<span class="icon-envelope-o"
													style="font-size: 30px; color: #13683B"></span>
											</div>
											<p><span style="font-size: 18px;"><b>Correo Electrónico:</b></span><br>
												info@adcontur.com</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row block-9 justify-content-center mb-5">
							<div class="col-md-10 mb-md-5">
								<h2 class="text-center">Si tienes alguna pregunta<br>
									por favor no dude en enviarnos un mensaje</h2>
								<form action="#" class="border p-5 contact-form">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Nombre Completo">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Correo Electrónico">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Asunto">
									</div>
									<div class="form-group">
										<textarea name="" id="" cols="30" rows="7" class="form-control"
											placeholder="Mensaje"></textarea>
									</div>
									<div class="form-group">
										<input type="submit" value="Enviar Mensaje" class="btn btn-primary py-3 px-5">
									</div>
								</form>
								<br>
								<iframe
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.792600168622!2d-78.49863834909598!3d-0.2057302998491574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc4d315f6ab%3A0x910d049c327ce1aa!2sAdcontur%20Soluciones%20Integrales!5e0!3m2!1ses-419!2sec!4v1585854670396!5m2!1ses-419!2sec"
									style="width: 100%; height: 600px;" frameborder="0" style="border:0;" allowfullscreen=""
									aria-hidden="false" tabindex="0"></iframe>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-5 ml-md-4">
						<h2 class="ftco-heading-2">Navegación</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Inicia</a></li>
							<li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Acerca</a></li>
							<li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Servicios</a></li>
							<li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contactos</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-5 ml-md-4">
						<h2 class="ftco-heading-2">Soluciones</h2>
						<ul class="list-unstyled">
							<li><a><span class="ion-ios-arrow-round-forward mr-2"></span>Contables</a></li>
							<li><a><span class="ion-ios-arrow-round-forward mr-2"></span>Tributarias</a></li>
							<li><a><span class="ion-ios-arrow-round-forward mr-2"></span>Administrativas</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">¿Tiene alguna pregunta?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li>
									<span class="icon icon-map-marker"></span>
									<span class="text">
										Jorge Washington E4-59 y Amazonas Edif. Rocafuerte, Of. 5, sector C.C.Espiral
									</span>
								</li>
								<li>
									<a>
										<span class="icon icon-phone"></span>
										<span class="text">
											+593 997607812
										</span>
									</a>
								</li>
								<li>
									<a>
										<span class="icon icon-envelope"></span>
										<span class="text">
											info@adcontur.com
										</span>
									</a>
								</li>
							</ul>
						</div>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
							<li class="ftco-animate"><a href="https://twitter.com/adcontur_acp" target="_blank"><span
										class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="https://www.facebook.com/Adcontur.ACP"
									target="_blank"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="https://www.instagram.com/adcontur_acp/"
									target="_blank"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>
						Todos los derechos reservados | Desarrollado por Marco Vega
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/main.js"></script>

</body>

</html>