<!DOCTYPE html>
<html lang="es">

<head>
  <% include ../world/header/links %>
  
</head>

<body>

  <% include ../world/header/header %>

  <section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
            <span class="subheading">Adcontur ACP</span>
            <h1 class="mb-4">Soluciones Contables</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image:url(images/bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
            <span class="subheading">Adcontur ACP</span>
            <h1 class="mb-4">Soluciones Tributarias</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image:url(images/image_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
            <span class="subheading">Adcontur ACP</span>
            <h1 class="mb-4">Soluciones Administrativas</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_3.jpg);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
          <h2 class="mb-0">Confiabilidad y exactitud en nuestros servicios</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-about ftco-no-pt ftco-no-pb ftco-counter" id="section-counter">
    <div class="container consult-wrap">
      <a name="acerca"></a>
      <div class="row d-flex align-items-stretch">
        <div class="col-md-6 wrap-about align-items-stretch d-flex">
          <div class="img" style="background-image: url(images/about.jpg);"></div>
        </div>
        <div class="col-md-6 wrap-about ftco-animate py-md-5 pl-md-5">
          <div class="heading-section mb-4">
            <h2>ADCONTUR ACP</h2>
          </div>
          <p style="text-align: justify;">
            Adcontur Soluciones Contables, Tributarias y Administrativas.- Somos una empresa orgullosamente
            ecuatoriana pioneros en brindar soluciones Contables, Tributarias y Administrativas, contamos
            con más de 25 años de presencia en el mercado nacional; nuestra experiencia especializada y
            comprobada en el asesoramiento de importantes empresas del mercado capitalino, nos permite
            proporcionar a nuestros clientes alternativas de solución adecuadas y consistentes para
            enfrentar los retos competitivos que plantea la administración moderna.
            Contamos con un equipo consolidado de profesionales, con el mas alto estándar y conocimiento en
            empresas e instituciones con diversas actividades económicas.
          </p>
          <div class="tabulation-2 mt-4">
            <ul class="nav nav-pills nav-fill d-md-flex d-block">
              <li class="nav-item">
                <a class="nav-link active py-2" data-toggle="tab" href="#home1"><span class="ion-ios-home mr-2"></span>
                  Misión</a>
              </li>
              <li class="nav-item px-lg-2">
                <a class="nav-link py-2" data-toggle="tab" href="#home2"><span class="ion-ios-person mr-2"></span>
                  Visión</a>
              </li>
            </ul>
            <div class="tab-content bg-light rounded mt-2">
              <div class="tab-pane container p-0 active" id="home1">
                <p style="text-align: justify;">
                  Ofrecer a nuestros clientes servicios profesionales, asegurando el cumplimiento de
                  normas y reglamentos preestablecidos en la legislación ecuatoriana en el campo
                  Contable,Tributario y Administrativo. Enfocados siempre en la entrega de soluciones
                  viables, competitivas e innovadoras. Contamos con el mejor Equipo de Profesionales,
                  para
                  nosotros cada uno de Nuestros Clientes son importantes, por eso nuestra atención
                  personalizada y especializada.
                </p>
              </div>
              <div class="tab-pane container p-0 fade" id="home2">
                <p style="text-align: justify;">
                  Ser reconocidos en el mediano plazo por nuestros clientes como un socio estratégico
                  para la toma de decisiones a través de: <br><br>

                  <b>• Confiabilidad y exactitud en nuestros servicios</b><br>
                  <b>• Actualización constante</b><br><br>

                  Aplicando estos principios, deseamos establecer relaciones duraderas, de respeto y
                  responsabilidad, con nuestros clientes y la sociedad en general.
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="120">0</strong>
                  <span>Clientes</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="115">0</strong>
                  <span>Documentos</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="icon"><span class="flaticon-doctor"></span></div>
                <div class="text">
                  <strong class="number" data-number="20">0</strong>
                  <span>Equipo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_1.jpg);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
          <h2 class="mb-0">Siempre obtienes la mejor orientación</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section">
    <div class="container-fluid px-md-5">
      <a name="contacto"></a>
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center heading-section ftco-animate">
          <h2 class="mb-4">Contacto</h2>
        </div>
      </div>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">

          <div class="container">
            <div class="row d-flex mb-5 contact-info justify-content-center" style="color: black;">
              <div class="col-md-10">
                <div class="row mb-5">
                  <div class="col-md-4 text-center d-flex">
                    <div class="border w-100 p-4">
                      <div class="icon">
                        <span class="icon-map-o" style="font-size: 30px; color: #13683B;"></span>
                      </div>
                      <p><span style="font-size: 18px;"><b>Dirección:</b></span><br>Jorge
                        Washington
                        E4-59 y Amazonas Edif.
                        Rocafuerte, Of. 5, sector C.C.Espiral
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 text-center d-flex">
                    <div class="border w-100 p-4">
                      <div class="icon">
                        <span class="icon-tablet" style="font-size: 30px; color: #13683B"></span>
                      </div>
                      <p><span style="font-size: 18px;"><b>Teléfono:</b></span><br>+593 997607812
                    </div>
                  </div>
                  <div class="col-md-4 text-center d-flex">
                    <div class="border w-100 p-4">
                      <div class="icon">
                        <span class="icon-envelope-o" style="font-size: 30px; color: #13683B"></span>
                      </div>
                      <p><span style="font-size: 18px;"><b>Correo Electrónico:</b></span><br>
                        info@adcontur.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row block-9 justify-content-center mb-5">
              <div class="col-md-10 mb-md-5">
                <br>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.792600168622!2d-78.49863834909598!3d-0.2057302998491574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc4d315f6ab%3A0x910d049c327ce1aa!2sAdcontur%20Soluciones%20Integrales!5e0!3m2!1ses-419!2sec!4v1585854670396!5m2!1ses-419!2sec"
                  style="width: 100%; height: 600px;" frameborder="0" style="border:0;" allowfullscreen=""
                  aria-hidden="false" tabindex="0"></iframe>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <% include ../world/footer/footer %>

  <% include ../world/footer/links %>

  
  <% include ../world/footer/float %>


</body>

</html>