<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../world/header/links %>
</head>

<body>

    <% include ../world/header/header %>

    <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_3.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
                    <h2 class="mb-0">Detalle Publicacion</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about ftco-no-pt ftco-no-pb ftco-counter" id="section-counter">
        <div class="container consult-wrap">
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-9 wrap-about ftco-animate py-md-5 pl-md-5 fadeInUp ftco-animated">
                            <div style="text-align: left !important;" class="heading-section mb-4">
                                <h2>WEBINAR - BUENAS PRÁCTICAS CONTABLES EN TIEMPOS DE CRISIS</h2>
                            </div>
                            <p style="text-align: left;">
                                29 mayo 2020
                            </p>
                            <p style="text-align: left;">
                                NOTICIA
                            </p>
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sed adipisci explicabo
                                reiciendis aspernatur accusantium assumenda cumque non neque voluptatibus modi omnis ex
                                quia repudiandae eius repellendus ducimus, maiores voluptates. Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Ut sed adipisci explicabo
                                reiciendis aspernatur accusantium assumenda cumque non neque voluptatibus modi omnis ex
                                quia repudiandae eius repellendus ducimus, maiores voluptates. Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Ut sed adipisci explicabo
                                reiciendis aspernatur accusantium assumenda cumque non neque voluptatibus modi omnis ex
                                quia repudiandae eius repellendus ducimus, maiores voluptates. Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Ut sed adipisci explicabo
                                reiciendis aspernatur accusantium assumenda cumque non neque voluptatibus modi omnis ex
                                quia repudiandae eius repellendus ducimus, maiores voluptates. Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Ut sed adipisci explicabo
                                reiciendis aspernatur accusantium assumenda cumque non neque voluptatibus modi omnis ex
                                quia repudiandae eius repellendus ducimus, maiores voluptates. Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Ut sed adipisci explicabo
                                reiciendis aspernatur accusantium assumenda cumque non neque voluptatibus modi omnis ex
                                quia repudiandae eius repellendus ducimus, maiores voluptates.
                            </p>
                        </div>
                        <div class="col-md-3 wrap-about ftco-animate py-md-5 pl-md-5 fadeInUp ftco-animated">
                            <div style="text-align: left;">
                                <p style="color: #13683B;">
                                    <b>VISTO</b>
                                </p>
                                <p>
                                    258 Veces
                                </p>
                            </div>
                            <div style="text-align: left;">
                                <p style="color: #13683B;">
                                    <b>COMPARTIR</b>
                                </p>
                                <p class="social mb-0">
                                    <a href="#" target="_blank"><i
                                            class="ion-logo-facebook" style="font-size: 30px;"></i><span
                                            class="sr-only">Facebook</span></a> &nbsp;&nbsp;
                                    <a href="#" style="font-size: 30px;"
                                        target="_blank"><i class="ion-logo-twitter"></i><span
                                            class="sr-only">Twitter</span></a> &nbsp;&nbsp;
                                    <a href="#" style="font-size: 30px;"
                                        target="_blank"><i class="ion-logo-instagram"></i><span
                                            class="sr-only">Instagram</span></a> &nbsp;&nbsp;
                                </p>
                            </div>


                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_1.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
                    <h2 class="mb-0">Siempre obtienes la mejor orientación</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container-fluid px-md-5">
            <a name="contacto"></a>
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4">Contacto</h2>
                </div>
            </div>
            <div class="row ftco-animate justify-content-center">
                <div class="col-md-12">

                    <div class="container">
                        <div class="row d-flex mb-5 contact-info justify-content-center" style="color: black;">
                            <div class="col-md-10">
                                <div class="row mb-5">
                                    <div class="col-md-4 text-center d-flex">
                                        <div class="border w-100 p-4">
                                            <div class="icon">
                                                <span class="icon-map-o"
                                                    style="font-size: 30px; color: #13683B;"></span>
                                            </div>
                                            <p><span style="font-size: 18px;"><b>Dirección:</b></span><br>Jorge
                                                Washington
                                                E4-59 y Amazonas Edif.
                                                Rocafuerte, Of. 5, sector C.C.Espiral
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center d-flex">
                                        <div class="border w-100 p-4">
                                            <div class="icon">
                                                <span class="icon-tablet"
                                                    style="font-size: 30px; color: #13683B"></span>
                                            </div>
                                            <p><span style="font-size: 18px;"><b>Teléfono:</b></span><br>+593 997607812
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center d-flex">
                                        <div class="border w-100 p-4">
                                            <div class="icon">
                                                <span class="icon-envelope-o"
                                                    style="font-size: 30px; color: #13683B"></span>
                                            </div>
                                            <p><span style="font-size: 18px;"><b>Correo Electrónico:</b></span><br>
                                                info@adcontur.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row block-9 justify-content-center mb-5">
                            <div class="col-md-10 mb-md-5">
                                <br>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.792600168622!2d-78.49863834909598!3d-0.2057302998491574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc4d315f6ab%3A0x910d049c327ce1aa!2sAdcontur%20Soluciones%20Integrales!5e0!3m2!1ses-419!2sec!4v1585854670396!5m2!1ses-419!2sec"
                                    style="width: 100%; height: 600px;" frameborder="0" style="border:0;"
                                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <% include ../world/footer/footer %>

    <% include ../world/footer/links %>

    <% include ../world/footer/float %>

</body>

</html>