<div class="bg-top navbar-light d-flex flex-column-reverse"
    style="background-color: #FDFDFD; padding-top: 9px; padding-bottom: 9px;">
    <div class="container py-1">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-10 d-flex">
                <div class="row d-flex">
                    <div class="col-md-12">
                        <div>
                            <a>¿Te puedo ayudar?... <a href="tel:+022500610"> <b>022500610</b>,<a
                                        href="tel:+0997607812">
                                        <b>0997607812</b></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-block" style="text-align: right !important;">
                <div class="row d-flex">
                    <div class="col-md-12">
                        <a href="https://www.instagram.com/adcontur_acp/?hl=el">
                            <img src="images/instagram.png" alt="" width="28">
                        </a>&nbsp;
                        <a href="https://es-la.facebook.com/Adcontur.ACP/?referrer=services_landing_page">
                            <img src="images/facebook.png" alt="" width="28">
                        </a>&nbsp;
                        <a href="https://www.linkedin.com/in/adcontur-acp">
                            <img src="images/linkedin.png" alt="" width="28">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .fondo {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 500 !important;
        /*SOLO ESTO SON LOS COLORES*/
        background: rgb(132, 255, 191) !important;
        background: linear-gradient(90deg, rgba(132, 255, 191, 1) 0%, rgba(19, 104, 59, 1) 34%) !important;
    }

    .lgo2 {
        display: none
    }

    @media only screen and (max-width: 575px) {
        .fondo {
            background: #13683b !important;
        }

        .lgo1 {
            display: none
        }

        .lgo2 {
            display: block
        }
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light fondo" id="ftco-navbar">
    <div class="container d-flex align-items-center" style="padding: 10px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menú
        </button>
        <div class="col-md-4 d-flex align-items-center py-2">
            <img src="images/logoBlanco.png" alt="ADCONTUR" style="width: 90%;" class="lgo1">
            <img src="images/logoBlanco.png" alt="ADCONTUR" style="width: 90%;" class="lgo2">
        </div>
        <div class="collapse navbar-collapse clase" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link" style="font-size: 15px !important;">Inicio</a></li>
                <li class="nav-item">
                    <a href="/#servicios_" class="nav-link" style="font-size: 15px !important;">Servicios</a>
                    <ul class="dropdown-menu" style="background-color: #13683b;">
                        <li><a href="/contabilidad" style="font-size: 15px !important;">Contabilidad</a></li>
                        <li><a href="/impuestos" style="font-size: 15px !important;">Impuestos</a></li>
                        <li><a href="/nomina" style="font-size: 15px !important;">Nómina</a></li>
                        <li><a href="/auditorias" style="font-size: 15px !important;">Auditorías</a></li>
                        <li><a href="/capacitacion" style="font-size: 15px !important;">Capacitación</a></li>
                        <li><a href="/asesoria" style="font-size: 15px !important;">Asesoría</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/temas" class="nav-link" style="font-size: 15px !important;">Temas de
                        Interés</a></li>
                <li class="nav-item"><a href="/trabaja" class="nav-link" style="font-size: 15px !important;">Trabaja con
                        Nosotros</a></li>
                <li class="nav-item"><a href="/linea" class="nav-link" style="font-size: 15px !important;">Recursos en
                        Línea</a></li>
            </ul>

        </div>
    </div>
</nav>