<div class="bg-top navbar-light d-flex flex-column-reverse" style="background-color: ghostwhite;">
    <div class="container py-1">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-11 d-flex"> 
                <div class="row d-flex">
                    <div class="col-md-12">
                        <div>
                            <a>Te puedo ayudar?... <a href="tel:+022500610"> 022500610,<a href="tel:+0997607812"> 0997607812</a>
                        </div>                       
                    </div>                   
                </div>               
            </div>
                      
            <div class="col-md-1 d-block">
                <div class="row d-flex">
                    <div class="col-md-12">
                        <a class="icon icon-facebook"  href="https://es-la.facebook.com/Adcontur.ACP/?referrer=services_landing_page"  style="font-size: 24px;"></a>
                        <a class="icon icon-instagram"  href="https://www.instagram.com/adcontur_acp/?hl=el"  style="font-size: 24px;"></a>                   
                    </div>                   
                </div>             
            </div>
        </div>
    </div>    
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar" style="  position: -webkit-sticky;
position: sticky;
top: 0;">
    <div class="container d-flex align-items-center" style="background-color: rgb(64, 134, 64)">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menú
        </button>
        <div class="col-md-4 d-flex align-items-center py-2">
            <img src="images/logo.png" alt="ADCONTUR" style="width: 90%;">
        </div>
        <div class="collapse navbar-collapse clase" id="ftco-nav">           
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                <li class="nav-item">
                    <a class="nav-link">Servicios</a>
                    <ul class="dropdown-menu" style="background-color: rgb(43, 150, 43);">
                        <li><a href="/contabilidad">Contabilidad</a></li>
                        <li><a href="/impuestos">Impuestos</a></li>
                        <li><a href="/nomina">Nómina</a></li>
                        <li><a href="/auditorias">Auditorias</a></li>
                        <li><a href="/capacitacion">Capacitación</a></li>
                        <li><a href="/asesoria">Asesoría</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/temas" class="nav-link">Temas de Interés</a></li>
                <li class="nav-item"><a href="/trabaja" class="nav-link">Trabaja con Nosotros</a></li>
                <li class="nav-item"><a href="/linea" class="nav-link">Servicios en Línea</a></li>
            </ul>

        </div>
    </div>
</nav>
<!-- END nav -->